/*--------文档阅读样式 Document reading style---------*/
@-moz-document regexp(".*\.(t|T)(x|X)(t|T)|.*\.(c|C)(s|S)(s|S)|.*\.(i|I)(n|N)(i|I)|.*\.(l|L)(o|O)(g|G)|.*\.(j|J)(s|S)|.*\.(j|J)(s|S)(o|O)(n|N)|.*\.(b|B)(a|A)(t|T)|.*\.(p|P)(y|Y)|.*\.(s|S)(h|H)|.*\.(p|P)(e|E)(m|M)|.*\.(l|L)(r|R)(c|C)") {

	html > body:not([bgcolor]) {
		background-color: #272822 !important;
	}

	html > body:not([bgcolor]) > pre {
		width: 65% !important;
		margin: 40px auto !important;
		padding: 25px !important;
		white-space: pre-wrap !important;
		font-size: 14px !important;
		color: #66d9ef !important;
		line-height: 25px !important;
		font-family: JetBrains Mono, monospace !important;
	}
}

/*********************************************** Dark_mode_pdf **************************************************/
@-moz-document regexp("^(?!.*\\.pdf\\?normal).*") {
    #sidebarContainer > #sidebarContent > #thumbnailView {
        --sidebaritem-bg-color: #38383D;
    }
    
    #viewerContainer > #viewer .page > .canvasWrapper > canvas {
        filter: grayscale(100%) invert(90%);
    }
    
    #sidebarContainer > #sidebarContent > #thumbnailView .thumbnailImage {
        filter: grayscale(100%) invert(90%);
        box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.5), 0 2px 8px hsla(0, 0%, 100%, 0.3) !important;
    }
}