:root {
    --dark-0: #151d28;
    --dark-base: #192330;
    --dark-base1: #233143;
    --dark-1: #233143;
    --dark-2: #2a3b51;
    --dark-3: #374e6c;
    --dark-4: #3e5879;
    --light-0: #d7dfea;
    --light-base: #afc0d5;
    --light-1: #a1b5ce;
    --light-2: #94abc7;
    --light-3: #87a0c0;
    --light-4: #7996b9;
    --accent: #63cdcf;
    --yellow: #dbc074;
    --green: #5cb8a7;
    --red: #c94f6d;
    --extension-icon-mask: grayscale(85%) invert(75%) sepia(8%) saturate(862%) hue-rotate(173deg) brightness(88%);

    /* expanded width of the sidebar.
    used for userChrome-static, and hover */
    --sidebar-width: 250px;
    /* initial width of the sidebar.
    advised not to change since tst css relies on this value*/
    --sidebar-collapsed-width: 60px;

    --dividers: 2px;

    --tl-animation-duration: 200ms;
    /*--tl-tab-background-gradient: */
    /* uncomment and add gradient value for selected tab gradient*/

    /******WINDOW CONTROL PLACEMENT VARS******/
    --wc-vertical-shift: 15px;
    /* larger value moves window controls down,*/
    /* can be negative(moves controls up) */
    /* Experiemntal: 55px if tabline visible, -25px if tabline hidden */
    --wc-left-space: 10px; /* add space to the left of window controls*/
    --wc-right-space: 15px; /* add space to the right of window controls*/
    /* left-space shifts window-controls */
    /* if you want to shift window controls to the left: positive value */
    /* if you want to shift them to the right: smaller or negative value */
    /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
    /* if you want to increase/decrease space between window-controls and navbars: */
    /* set positive/smaller or negative value for right-space*/
}

:root[privatebrowsingmode="temporary"] {
    --dark-0: #1c0e34;
    --dark-base: #20103c;
    --dark-1: #2f1d4e;
    --dark-2: #38225d;
    --dark-3: #4a2d7b;
    --dark-4: #53338a;
    --light-0: #cc6b9c;
    --light-base: #b9407c;
    --light-1: #ab3b73;
    --light-2: #9c3569;
    --light-3: #8d305e;
    --light-4: #7d2b54;
    --accent: #e9207e;
    --yellow: #c9b336;
    --green: #36c987;
    --red: #c9365d;
    --extension-icon-mask: grayscale(85%) invert(13%) sepia(80%) saturate(3107%) hue-rotate(256deg) brightness(84%)
        contrast(93%);
}


:root {
    --ease-in: cubic-bezier(0.32, 0, 0.67, 0);
    --ease-out: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
    --transition-time: 0.4s !important;
    --ease-basic: linear;

    --button-size: 32px; /* is this used? */
    --icon-size: 24px; /* is this used? */

    --downloads-item-height: 48px !important;

    --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
    --toolbar-non-lwt-textcolor: var(--toolbar-color) !important;
    --toolbar-field-focus-border-color: var(--lwt-toolbar-field-color) !important;

    --toolbar-field-background-color: var(--light-1) !important;
    --toolbar-field-focus-background-color: var(--light-1) !important;



}

/* light mode */
:root:not([style]),
:root[style*="--lwt-accent-color:rgb(227, 228, 230);"],
:root[style*="--lwt-accent-color:white;"] {
    /* accentcolor */
    --lwt-accent-color: var(--light-base) !important;

    /* textcolor */
    --lwt-text-color: var(--dark-base) !important;

    /* toolbar */
    --toolbar-bgcolor: var(--light-base) !important;

    /* toolbar_text */
    --toolbar-color: var(--dark-1) !important;

    --urlbarView-popup-title: var(--dark-1) !important;

    --urlbarView-popup-url: var(--dark-4) !important;

    /* toolbar_bottom_separator */
    --toolbox-border-bottom-color: var(--light-base) !important; /* legacy */
    --chrome-content-separator-color: var(--light-base) !important;

    /* icons */
    --lwt-toolbarbutton-icon-fill: var(--dark-1) !important;

    /* icons_attention */
    --lwt-toolbarbutton-icon-fill-attention: var(--accent) !important;

    /* button_background_hover */
    --lwt-toolbarbutton-hover-background: var(--light-2) !important;

    /* button_background_active */
    --lwt-toolbarbutton-active-background: var(--light-4) !important;

    --lwt-toolbar-field-color: var(--dark-2) !important;

    /* popup */
    --arrowpanel-background: var(--light-1) !important;
    --arrowpanel-dimmed: var(--light-2) !important; /* hover color */
    --arrowpanel-dimmed-further: var(--light-3) !important; /* hover color */

    /* popup_text */
    --arrowpanel-color: var(--dark-1) !important;
    --autocomplete-popup-color: var(--dark-1) !important;
    --panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

    /* popup_border */
    --arrowpanel-border-color: var(--light-1) !important;
    --autocomplete-popup-border-color: var(--light-1) !important;

    /* popup_highlight */
    --autocomplete-popup-highlight-background: var(--light-2) !important;

    /* popup_highlight_text */
    --autocomplete-popup-highlight-color: var(--dark-2) !important;

    /* urlbar icon */
    --toolbarbutton-hover-background: var(--light-4) !important;
    --toolbarbutton-active-background: var(--light-base) !important;

    --sidebar-shadow-color: var(--dark-4);
}

/* don't bother with sidebar in light mode */

/* dark mode */
/*:root[lwtheme-mozlightdark]:is([lwt-default-theme-in-dark-mode], :-moz-lwtheme-brighttext) {*/
  :root {
    /* accentcolor */
    --lwt-accent-color: var(--dark-base1) !important;

    /* textcolor */
    --lwt-text-color: var(--light-base) !important;

    /* toolbar */
    --toolbar-bgcolor: var(--dark-base) !important;

    /* toolbar_text */
    --toolbar-color: var(--light-1) !important;

    --urlbarView-popup-title: var(--light-1) !important;

    --urlbarView-popup-url: var(--light-4) !important;

    /* toolbar_bottom_separator */
    --toolbox-border-bottom-color: var(--dark-base) !important; /* legacy */
    --chrome-content-separator-color: var(--dark-base) !important;

    /* icons */
    --lwt-toolbarbutton-icon-fill: var(--light-1) !important;

    /* icons_attention */
    --lwt-toolbarbutton-icon-fill-attention: var(--accent) !important;

    /* button_background_hover */
    --lwt-toolbarbutton-hover-background: var(--dark-2) !important;

    /* button_background_active */
    --lwt-toolbarbutton-active-background: var(--dark-4) !important;

    --lwt-toolbar-field-color: var(--light-2) !important;

    /* popup */
    --arrowpanel-background: var(--dark-1) !important;
    --arrowpanel-dimmed: var(--dark-2) !important; /* hover color */
    --arrowpanel-dimmed-further: var(--dark-3) !important; /* hover color */

    /* popup_text */
    --arrowpanel-color: var(--light-1) !important;
    --autocomplete-popup-color: var(--light-1) !important;
    --panel-disabled-color: hsla(0, 0%, 100%, 0.5) !important;

    /* popup_border */
    --arrowpanel-border-color: var(--dark-1) !important;
    --autocomplete-popup-border-color: var(--dark-1) !important;

    /* popup_highlight */
    --autocomplete-popup-highlight-background: var(--dark-2) !important;

    /* popup_highlight_text */
    --autocomplete-popup-highlight-color: var(--light-2) !important;

    /* urlbar icon */
    --toolbarbutton-hover-background: var(--dark-4) !important;
    --toolbarbutton-active-background: var(--dark-base) !important;

    --sidebar-shadow-color: var(--dark-0);
}

:-moz-any(#sidebar-box, #sidebar) {
    /* sidebar */
    --sidebar-background-color: var(--dark-base) !important;

    /* sidebar_text */
    --sidebar-text-color: #f1f3ee !important;
}

:-moz-any(.sidebar-panel, body)[style*="--lwt-sidebar-background-color:rgb(56, 56, 61);"] {
    /* sidebar */
    --lwt-sidebar-background-color: var(--dark-base) !important;

    /* sidebar_text */
    --lwt-sidebar-text-color: var(--light-base) !important;
}


menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator {
    -moz-appearance: none !important;
}

menupopup,
panel[type="autocomplete-richlistbox"] {
    -moz-window-shadow: none !important;
    background: #233143 !important;
    border: 0 !important;
    color: var(--arrowpanel-color) !important;
    box-sizing: content-box !important;
}

menupopup {
    padding: 11px 14px 18px !important;
    margin: -19px -14px 0 !important;
}

/* needs to align with textbox/bookmark-button but can't overlap it */
panel[type="autocomplete-richlistbox"],
.bookmark-item:not(menu) > menupopup[placespopup] {
    padding: 1px 14px 18px !important;
    margin: 0 -14px 0 !important;
}

.panel-arrowcontent {
    background: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    font: -moz-pull-down-menu !important;
    border: 0 !important;
}

.popup-internal-box,
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox,
#PopupSearchAutoComplete > *,
.menupopup-arrowscrollbox {
    background: var(--arrowpanel-background) !important;
}

/* themes a menupopup (or other root level / shadow dom popup) as a panel */
/* Mozilla's use of shadow dom means we can't use a menupopup > .popup-internal-box */
.popup-internal-box,
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox,
.menupopup-arrowscrollbox {
    margin: 0 !important;
    padding: 8px 0 !important;
    border-radius: 4px !important;
    color: inherit !important;
}

.popup-internal-box,
.menupopup-arrowscrollbox {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

#PopupSearchAutoComplete > * {
    border-radius: 0 !important;
}

#PopupSearchAutoComplete > :first-child {
    border-radius: 4px 4px 0 0 !important;
}

#PopupSearchAutoComplete > :last-child {
    border-radius: 0 0 4px 4px !important;
}

/* autocomplete panel can't overlap the textbox, so shadow can't go up
   more than 1px */
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px -0px rgba(0, 0, 0, 0.14),
        0 3px 14px -5px rgba(0, 0, 0, 0.12) !important;
}

/* search panel gets special treatment; it has multiple children */
#PopupSearchAutoComplete > .autocomplete-richlistbox {
    box-shadow: none !important;
}

#PopupSearchAutoComplete {
    filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.25)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.125)) !important;
}

/* reset non-layout props when embedded in a panel
   (panel handles panel theming in this case) */
.panel-arrowcontent > .popup-internal-box {
    background: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

/* shotgun approach to undo this selector...
   #BMB_bookmarksPopup menupopup[placespopup="true"]:-moz-lwtheme::part(innerbox)
   ...without being able to use ::part() in userChrome.css */
[part="innerbox"] {
    /* this could cause side effects elsewhere */
    box-shadow: none !important;
    margin: 0 !important;
}

menupopup menuseparator {
    margin: 8px 0 !important;
    padding: 0 !important;
    height: 1px !important;
    background: currentColor !important;
    opacity: 0.12 !important;
}

menupopup menuitem,
menupopup menu,
.autocomplete-richlistitem {
    height: 32px !important;
    padding: 0 16px !important;
    border: 0 !important;
    background: 0 !important;
    color: var(--light-1) !important;
    fill-opacity: initial !important;
}

menupopup menuitem:hover:not([disabled="true"]),
menupopup menu:hover:not([disabled="true"]),
.autocomplete-richlistitem:hover:not([disabled="true"]):not([selected="true"]) {
    background-color: var(--dark-2) !important;
}

menupopup menuitem:hover:active:not([disabled="true"]),
menupopup menu:hover:active:not([disabled="true"]),
.autocomplete-richlistitem:hover:active:not([disabled="true"]),
.autocomplete-richlistitem[selected="true"] {
    background-color: var(--dark-3) !important;
}

menupopup menuitem[disabled="true"],
menupopup menu[disabled="true"],
.autocomplete-richlistitem[disabled="true"] {
    opacity: 0.5 !important;
}

/* disable vertical menu scroll buttons and use a good ol' scrollbar */
/* this is a shotgun approach, expect side effects */
scrollbox[orient=vertical] /* >=71 */ {
    overflow-y: auto !important;
}

/* this is a bit depressing... */
/* work around lack of ::part selector support */
:root {
    --scrollbutton-display: -moz-box !important;
}

/* hide ancient-looking scrollbuttons in menupopups */
/* add other selectors here to disable more scrollbuttons */
menupopup {
    --scrollbutton-display: none !important;
}

#scrollbutton-up[part],
#scrollbutton-down[part] {
    display: var(--scrollbutton-display) !important;
}

.menuitem-iconic,
.menu-iconic-icon /* .menu-iconic-icons not necessarily within a .menuitem-iconic (don't ask me why...) */ {
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
}

.menuitem-iconic[class*="identity-color"] .menu-iconic-icon {
    fill: var(--identity-icon-color) !important;
}

.menu-iconic-left {
    -moz-appearance: none !important;
}

/* hide icon if no image (default on macOS but not Windows) */
.subviewbutton:not(:-moz-any([image], [targetURI], .bookmark-item)) > .menu-iconic-left {
    display: none;
}

.menu-iconic-icon {
    margin-inline-start: 0 !important;
    margin-inline-end: 16px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
}

.menu-text {
    -moz-appearance: none !important;
    padding: 0 !important;
}

.menu-right {
    -moz-appearance: none !important;
    -moz-context-properties: fill !important;
    fill: currentColor !important;
    list-style-image: url(../popup/menu-right-2x.svg) !important;
    margin-inline-end: 0 !important;
    margin-inline-start: 16px !important;
}

.menu-iconic.bookmark-item .menu-right {
    transform: scale(2) !important;
}

menuitem[type="checkbox"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[checked="true"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[type="radio"] > .menu-iconic-left > .menu-iconic-icon {
    padding: 3px !important;
}

menuitem[type="checkbox"][checked="false"] > .menu-iconic-left > .menu-iconic-icon {
    list-style-image: url(../popup/checkmark-blank.svg) !important;
}

menuitem[type="checkbox"][checked="true"] > .menu-iconic-left > .menu-iconic-icon {
    list-style-image: url(../popup/checkmark.svg) !important;
}

menu[container="true"] > .menu-iconic-left > .menu-iconic-icon {
    list-style-image: url(../popup/folder.svg) !important;
}

#context-navigation {
    background: 0 !important;
}

#context-navigation .menuitem-iconic {
    background: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

#context-navigation .menu-iconic-left {
    border-radius: 50% !important;
    padding: 8px !important;
}

#context-navigation .menu-iconic-icon {
    padding: 0 !important;
    margin: 0 !important;
    width: 16px !important;
    height: 16px !important;
}

#context-navigation .menuitem-iconic:hover:not([disabled]) .menu-iconic-left {
    background-color: var(--arrowpanel-dimmed) !important;
}

#context-navigation .menuitem-iconic:hover:active:not([disabled]) .menu-iconic-left {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

panel[type="arrow"] {
    -moz-window-shadow: none !important;

    margin: 0 -14px -18px !important;
    padding: 0 14px 18px !important;
}

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
    margin-left: -39px !important;
    margin-right: -39px !important;
}

panel[type="arrow"][side="left"],
panel[type="arrow"][side="right"] {
    margin-top: -44px;
    margin-bottom: -44px;
}

.panel-arrowcontent {
    background: var(--arrowpanel-background) !important;
    border: 0 !important;
    border-radius: 4px !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    color: var(--arrowpanel-color) !important;
}

.panel-arrowbox,
.cui-widget-panel .panel-arrowbox {
    display: none !important;
}

/* .subview-subheader, */
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1,
.panel-banner-item {
    min-height: 32px !important;
    padding: 0 16px !important;
}

.subviewbutton .toolbarbutton-icon,
.panel-banner-item .toolbarbutton-icon {
    margin-inline-end: 16px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
}

.subviewbutton label,
.panel-banner-item label {
    padding-inline-start: 0 !important;
}

#appMenu-zoom-controls > .subviewbutton,
#appMenu-edit-controls > .subviewbutton {
    min-width: 32px !important;
    border-radius: 16px !important;
    padding: 0 8px !important;
    border: 0 !important;
    margin-inline-start: 4px !important;
}

#appMenu-zoom-controls > toolbarseparator[orient="vertical"] + .subviewbutton {
    margin-inline-start: 0 !important;
}

#appMenu-zoom-controls > .subviewbutton-iconic,
#appMenu-edit-controls > .subviewbutton-iconic {
    padding: 0 !important;
}

.panel-banner-item {
    border: 0 !important;
}

#appMenu-addon-banners:not(:empty) ~ #appMenu-fxa-status,
.panel-banner-item:not([hidden]) + #appMenu-fxa-status {
    border-top: 1px solid var(--panel-separator-color) !important;
    margin-top: 5px !important;
    padding-top: 5px !important;
}

#appMenu-fxa-avatar {
    display: none !important;
}

:root[fxastatus="signedin"] #appMenu-fxa-label {
    list-style-image: var(--avatar-image-url) !important;
    margin: 0 !important;
}

:root[fxastatus="signedin"] #appMenu-fxa-label > .toolbarbutton-icon {
    display: -moz-box !important;
    border-radius: 99px !important;
    padding: 2px !important;
}

.panel-banner-item[notificationid="update-restart"]::after {
    display: none !important;
}

.toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem="true"])
    > toolbarbutton
    > .toolbarbutton-icon {
    margin: 0 !important;
}

panelmultiview .toolbaritem-combined-buttons > spacer.before-label {
    width: 20px !important;
}

panelmultiview .toolbaritem-combined-buttons > spacer.after-label {
    width: 14px !important;
}

.subviewbutton-back {
    padding: 4px !important;
    border-radius: 16px !important;
}

.subviewbutton-back .toolbarbutton-icon {
    margin: 0 !important;
}

.subviewbutton[type="highlight-history"]::after {
    transform: none !important;
}

.subviewbutton[type="highlight-history"]::after,
.subviewbutton[shortcut]::after,
.PanelUI-subView .subviewbutton-nav::after {
    margin-inline-start: 14px !important;
}

.PanelUI-subView .subviewbutton-nav::after {
    transform: none !important;
    content: url(../popup/menu-right-1x.svg) !important;
    fill-opacity: 1 !important;
}

#identity-popup > .panel-arrowcontainer > .panel-arrowcontent {
    fill-opacity: inherit !important;
}

.identity-popup-preferences-button {
    border-radius: 16px !important;
    background-image: none !important;
}

.identity-popup-preferences-button > .toolbarbutton-icon {
    margin: 0 !important;
}

#identity-popup-permission-preferences-button {
    padding: 0 !important;
}

#tracking-protection-preferences-button > .toolbarbutton-icon {
    margin-inline-end: -8px !important;
}

#tracking-protection-preferences-button > .toolbarbutton-text {
    padding-inline-end: 4px !important;
    -moz-box-ordinal-group: 0 !important;
}

.identity-popup-section {
    padding: 16px !important;
    display: flex !important;
}

.identity-popup-security-content,
#identity-popup-content-blocking-content,
#identity-popup-permissions-content {
    padding: 0 !important;
    background: 0 !important;
    fill-opacity: inherit !important;
}

.identity-popup-expander {
    border-radius: 16px !important;
    width: 32px !important;
    max-height: 32px !important;
    margin-inline-start: auto !important;
    -moz-box-pack: center !important;
    -moz-box-align: center !important;
    background-image: none !important;
}

.identity-popup-expander > .button-box {
    border: 0 !important;
    display: flex !important;
    justify-content: center !important;
}

.identity-popup-expander .button-icon {
    margin: 0 !important;
}

.identity-popup-expander .button-text {
    display: none !important;
}

.identity-popup-headline {
    margin: 0 !important;
}

.PanelUI-subView > .identity-popup-security-content,
#identity-popup-securityView-body {
    padding: 16px !important;
}

#identity-popup-mainView-panel-header {
    -moz-box-align: start !important;
    padding: 16px !important;
}

#identity-popup-securityView-body {
    margin: 0 !important;
}

#identity-popup-content-blocking-content,
#identity-popup-permissions-content {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
}

#identity-popup-content-blocking-content > hbox:first-child,
#identity-popup-permissions-content > hbox:first-child {
    display: flex !important;
}

#identity-popup-content-blocking-category-list,
#identity-popup-permission-list {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 -16px !important;
    width: calc(100% + 32px) !important;
    padding-top: 8px !important;
}

.identity-popup-permission-item {
    display: flex !important;
    align-items: center !important;
}

.identity-popup-permission-label,
#identity-popup-content-blocking-report-breakage {
    flex: 1 !important;
    text-decoration: none !important;
    cursor: auto !important;
    color: inherit !important;
}

.identity-popup-content-blocking-category,
.identity-popup-permission-item {
    height: 32px !important;
    padding: 0 16px !important;
}

.identity-popup-content-blocking-category-icon,
.identity-popup-permission-icon {
    margin: 0 !important;
    margin-inline-end: 16px !important;
}

.popup-notification-icon,
.identity-popup-permission-icon {
    fill-opacity: 1 !important;
}

.identity-popup-content-blocking-category-label,
.identity-popup-permission-label {
    margin: 0 !important;
}

.identity-popup-content-blocking-category::after {
    transform: translateY(1px) !important;
    content: url(../popup/menu-right-1x.svg) !important;
    margin: 0 !important;
}

.identity-popup-preferences-button {
    margin-inline-start: auto !important;
}

.identity-popup-permission-remove-button {
    opacity: 1 !important;
}

.tracking-protection-button,
#identity-popup-content-blocking-report-breakage {
    margin: 0 -16px !important;
    height: 32px !important;
    padding: 0 16px !important;
    background: 0 !important;
    color: inherit !important;
    line-height: 32px !important;
}

#identity-popup-content-blocking-report-breakage {
    padding-inline-start: 50px !important;
}

.tracking-protection-button > .button-box {
    padding: 0 !important;
}

.tracking-protection-button .button-icon {
    margin: 0 !important;
}

#customization-lwtheme-menu-header {
    height: 8px !important;
    font-size: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    visibility: hidden !important;
}

#identity-popup-content-blocking-report-breakage {
    padding-inline-start: 48px !important;
    line-height: 32px !important;
    text-decoration: none !important;
    cursor: auto !important;
}

.tracking-protection-button:hover:not([disabled="true"]),
#identity-popup-content-blocking-report-breakage:hover,
#blocked-popup-indicator-item:hover,
.customization-lwtheme-menu-theme:hover,
#customization-lwtheme-menu-footer toolbarbutton:hover {
    background-color: var(--arrowpanel-dimmed) !important;
}

.tracking-protection-button:hover:active:not([disabled="true"]),
#identity-popup-content-blocking-report-breakage:hover:active,
#blocked-popup-indicator-item:hover:active,
.customization-lwtheme-menu-theme:hover:active,
#customization-lwtheme-menu-footer toolbarbutton:hover:active {
    background-color: var(--arrowpanel-dimmed-further) !important;
}

.identity-popup-content-blocking-empty-label,
#tracking-protection-preferences-button > .toolbarbutton-text,
.tracking-protection-button,
#identity-popup-trackersView-strict-info > label,
.identity-popup-cookiesView-list-header,
.identity-popup-content-blocking-list-item > label,
#identity-popup-mainView-panel-header > label,
#identity-popup-trackersView > .panel-header,
#identity-popup-securityView > .panel-header,
#identity-popup-breakageReportView > .panel-header,
#identity-popup-content-blocking-report-breakage,
.identity-popup-content-blocking-category-label,
.identity-popup-content-blocking-category-state-label,
.identity-popup-permission-label,
.identity-popup-permission-state-label,
#identity-popup-security-descriptions > description,
#identity-popup-securityView-body > description,
#identity-popup-permissions-content > description,
#identity-popup-content-blocking-content > description {
    font-size: 100% !important;
}

.panel-header > label {
    text-align: start !important;
    margin-inline-start: 4px !important;
}

.identity-popup-headline {
    font-size: 110% !important;
}

.identity-popup-security-content > description,
#identity-popup-content-blocking-content > description,
#identity-popup-permissions-content > description,
.identity-popup-content-blocking-category-state-label,
.identity-popup-permission-state-label {
    font-size: 85% !important;
}

#identity-popup-permissions-content > description,
#identity-popup-content-blocking-content > description {
    color: inherit !important;
    opacity: 0.6 !important;
}

.identity-popup-content-blocking-category-state-label {
    transform: translateY(1px) !important;
}

.tracking-protection-button > .button-box,
.panel-footer button > .button-box {
    display: flex !important;
    align-items: center !important;
}

.tracking-protection-button .button-icon,
.panel-footer button .button-icon {
    padding-inline-end: 16px !important;
}

.tracking-protection-button .button-text,
.panel-footer button .button-text {
    margin: 0 !important;
}

#downloadsPanel-multiView {
    padding-top: 8px !important;
}

#downloadsListBox .download-state {
    display: flex !important;
    width: 100% !important;
    align-items: center !important;
}

#downloadsListBox .downloadMainArea {
    padding: 0 !important;
    display: flex !important;
    flex: 1 !important;
    margin-inline-end: -48px !important;
    padding-inline-end: 48px !important;
    padding-inline-start: 16px !important;
    height: 100% !important;
    align-items: center !important;
}

#downloadsListBox .downloadContainer {
    display: flex !important;
    flex-direction: column !important;
    flex: 1 !important;
}

#downloadsListBox .downloadTypeIcon {
    margin: 0 !important;
    margin-inline-end: 16px !important;
}

#downloadsListBox .downloadTarget {
    font-size: 100% !important;
}

#downloadsListBox .downloadDetails {
    font-size: 85% !important;
}

#downloadsListBox > richlistitem > toolbarseparator {
    display: none !important;
}

#downloadsListBox .downloadButton {
    margin-inline-end: 16px !important;
    height: 32px !important;
    min-width: 32px !important;
    border-radius: 16px !important;
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity !important;
    display: block !important;
}

#downloadsListBox .downloadButton .button-box {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    max-width: 32px !important;
}

#confirmation-hint .panel-arrowcontent,
#UITourTooltip .panel-arrowcontent,
#customization-lwtheme-menu .panel-arrowcontent,
#customization-uidensity-menu .panel-arrowcontent {
    padding: 16px !important;
}

#customization-uidensity-menu .panel-arrowcontent,
#customization-lwtheme-menu .panel-arrowcontent {
    padding-top: 8px !important;
}

#customization-lwtheme-menu,
#customization-uidensity-menu {
    margin-inline: -60px 0 !important;
    margin-block-end: -20px !important;
}

.customization-lwtheme-menu-theme,
.customization-uidensity-menuitem {
    padding: 0 16px !important;
    margin: 0 !important;
    border: 0 !important;
    height: 48px !important;
}

.customization-lwtheme-menu-theme .toolbarbutton-icon,
.customization-uidensity-menuitem .menu-iconic-icon {
    margin: 0 !important;
    margin-inline-end: 16px !important;
    padding: 0 !important;
    width: 24px !important;
    height: 24px !important;
}

.customization-lwtheme-menu-theme[active]:not(:hover):not(:active),
.customization-uidensity-menuitem[active]:not(:hover):not(:active) {
    background: 0 !important;
}

.customization-lwtheme-menu-theme[active]::after,
.customization-uidensity-menuitem[active]::after {
    content: url(../popup/checkmark.svg) !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
    display: -moz-box !important;
    width: 18px !important;
    height: 18px !important;
    margin-inline-start: 16px !important;
}

.customization-uidensity-menuitem:first-of-type {
    margin-block-start: 8px !important;
}

.customization-uidensity-menuitem:last-of-type {
    margin-block-end: 8px !important;
}

#customization-lwtheme-menu-footer {
    padding: 0 0 8px !important;
    margin: 0 !important;
    background: 0 !important;
    border: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

#customization-lwtheme-menu-footer toolbarbutton {
    border: 0 !important;
    margin: 0 !important;
    height: 48px !important;
    padding: 0 16px !important;
    display: flex !important;
    background-image: none !important;
}

#customization-lwtheme-menu-footer toolbarbutton .toolbarbutton-text {
    text-align: start !important;
}

.panel-footer {
    padding: 4px !important;
    background: 0 !important;
    border-top: 1px solid var(--panel-separator-color) !important;
    justify-content: end !important;
    display: flex !important;
}

.panel-footer button {
    border: 0 !important;
    border-radius: 4px !important;
    margin: 4px !important;
    height: 32px !important;
    padding: 0 !important;
    flex: 0 0 auto !important;
    position: relative !important;
    outline: 0 !important;
}

.panel-footer button > .button-box {
    -moz-appearance: none !important;
    position: relative !important;
    padding-inline-end: 16px !important;
}

.panel-footer button .button-menu-dropmarker {
    margin-inline-start: 8px !important;
    margin-inline-end: -8px !important;
}

.panel-footer button:not([default]) > .button-box::before {
    content: "" !important;
    display: block !important;
    border-radius: 4px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: 1px solid currentColor !important;
    opacity: 0.42 !important;
    box-sizing: border-box !important;
}

.panel-footer button:not([default]):hover:active:not([disabled]) > .button-box::before {
    border-width: 0 !important;
}

.panel-footer button:not([default]):hover:active:not([disabled]) {
    border-width: 0 !important;
    background: #002275 !important;
    color: #fff !important;
}

#PopupAutoComplete > richlistbox > richlistitem[originaltype="loginWithOrigin"] {
    height: 48px !important;
}

richlistitem[originaltype="loginsFooter"],
richlistitem[originaltype="generatedPassword"] > .two-line-wrapper {
    display: flex !important;
    align-items: center !important;
}

richlistitem:-moz-any([originaltype="generatedPassword"], [originaltype="loginWithOrigin"], [originaltype="login"], [originaltype="loginsFooter"])
    .ac-site-icon {
    display: block !important;
    align-self: center !important;
    margin-inline: 0 16px !important;
    fill: currentColor !important;
}

richlistitem[originaltype="loginsFooter"] .ac-site-icon {
    visibility: hidden !important;
}

richlistitem:-moz-any([originaltype="generatedPassword"], [originaltype="loginWithOrigin"], [originaltype="login"], [originaltype="loginsFooter"])
    .ac-title {
    margin: 0 !important;
}

#confirmation-hint-message-container,
#confirmation-hint-checkmark-animation-container {
    margin-block: 8px !important;
    margin-inline: 8px !important;
}

#confirmation-hint-checkmark-animation-container {
    margin-inline-end: 0 !important;
}

/* high DPI adjustments */
@media (min--moz-device-pixel-ratio: 2) {
    .PanelUI-subView .subviewbutton-nav::after,
    .identity-popup-content-blocking-category::after {
        content: url(../popup/menu-right-2x.svg) !important;
    }
}