/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* Unload tabs line */
.tabbrowser-tab[selected] .tab-content {
  margin-bottom: 2px !important;
  border-bottom-style: solid !important;
  border-width: 2px !important;
  /*border-color: #63cdcf !important;*/
}